body{
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
	color: #494949;
	width: 100%;
	padding: 0px;
	margin: 0px;
	cursor: context-menu;
}
header{
	width: 100%;
	position: sticky;
	top: 0px;
	left: 0Px;
	background: #fff;
}
header img{
	float: left;
	margin: 15px 0 20px 30px;
	width: 50px;
	height: auto;
}
header nav{
	float: right;
	margin: 10px 50px 20px 0;
}
header nav ul li{
	list-style: none;
	float: left;
	margin-right: 25px;
}
header nav ul li, header img{
	transition: all 300ms;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
}
h1{
	text-align: center;
	font-size: 45px;
	margin-bottom: 25px;
}
h2{
	text-align: center;
	font-size: 35px;
	margin-bottom: 15px;
}
#HOME{
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	background-color: #f0f0f0;
	padding-top: 60px;
	padding-bottom: 30px;
	text-align: center;
}
#HOME h1{
	margin-bottom: 0px;
}
hr{
	width: 140px;
	border: 3px solid;
	border-radius: 3px;
}
#HOME img{
	text-align: center;
	padding-top: 50px;
	width: 10%;
  height: auto;
}
#WEBSERV, #CSS, #HelloW, #CSSLISTS, #CSSTABELS, #CLASSANDID, #Heading, #information{
	background-color: #f0f0f0;
	padding: 5px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	padding-left: 15px;
}
#WEBCL, #WWWHTML, #WWW, #HTMLLISTS, #HTMLTABELS, #BOX, #FLOATING, #topic{
	padding: 5px;
	padding-left: 15px;
}
#heading, #assignmentTwo, #assignmentThree, #assignmentFour, #Heading{
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	padding: 55px;
	padding-top: 65px;
	text-align: center;
	background-color: #f0f0f0;
	border-top: 0px;
	margin-top: 0px;
	text-decoration: underline;
}
#tag{
	margin: 0;
	border: solid, 1px, #FF0004;
	border-radius: 50%;
}
li{
	float: inherit;
}
#link1{
	font-size: 24px;
	text-decoration: none;
	color: #494949;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn{
  font-size: 24px; 
  padding-right: 10px;
  border: none;
  outline: none;
  color: #494949;
  background-color: inherit;
  font-family: inherit;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#WWWHTML ul li, #CSS ul li{
	padding-bottom: 4px;
}
#TABLEONE{
  border: 1px dotted black;
}
#TABLETWO{
	border: 1px solid #FF0004;
	border-radius: 10px;
}
#TABLETHREE{
	border: 5px solid #032700;
}
#Heading{
	animation-name: Header;
	animation-duration: 4s;
}
#tableOne{
	float: left;
	margin-left: 10px;
}
#tableTwo{
	float: right;
	margin-right: 10px;
}
#tableOne,#tableTwo{
	min-width: 49%;
	text-align: center;
	border: 2px solid #494949;
	border-radius: 25px;
}
#topicheading{
	border-bottom: 2px solid #494949;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	width: 750px;
	margin-left: 25%;
}
@keyframes Header{
	from{background-color: #ffffff;}
	to{background-color: #f0f0f0f;}
}
footer{
	padding: 10px;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	background-image: linear-gradient(#f0f0f0, #ffffff);
}
footer a{
	font-size: 20px;
	text-decoration: none;
	color: #494949;
}
a:hover {
  color: #9A0002;
}
header img:hover{
	opacity: 0.5;
	cursor: none;
}